.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}
div.pagination-container{
    text-align:center;
}
.glyphicon{
    top:5px;
}
.camptitle{
    width:200px;
    font-weight:bold;
    font-size:15px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin-left:auto;
    margin-right:auto;
}