
@{
    ViewBag.Title = "Contact";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> form validation using javascript in html5 example </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/smart-forms.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#smart-form").validate({
                errorClass: "state-error",
                validClass: "state-success",
                errorElement: "em",
                highlight: function (element, errorClass, validClass) {
                    $(element).closest('.field').addClass(errorClass).removeClass(validClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).closest('.field').removeClass(errorClass).addClass(validClass);
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio") || element.is(":checkbox")) {
                        element.closest('.option-group').after(error);
                    } else {
                        error.insertAfter(element.parent());
                    }
                }
            });
        });
    </script>

</head>

<body class="woodbg">

    <div class="smart-wrap" style="padding:30px">
        <div class="smart-forms smart-container wrap-2">

            <div class="form-header header-primary">
                <h4><i class="fa fa-pencil-square"></i>Contact Us</h4>
            </div><!-- end .form-header section -->

            <form method="post" id="smart-form">
                <div class="form-body">

                    <div class="section">
                        <label for="name" class="field prepend-icon">
                            <input type="text" name="name" id="name" class="gui-input"
                                       data-rule-required="true"
                                       data-rule-letterswithbasicpunc="true"
                                       data-msg-required="name is required"
                                       data-msg-letterswithbasicpunc="Please enter letters only"
                                       placeholder="User name...">
                            <span class="field-icon"><i class="fa fa-user"></i></span>
                        </label>
                    </div><!-- end section -->
                   
                    <div class="section">
                        <label for="email" class="field prepend-icon">
                            <input type="email" name="email" id="email" class="gui-input"
                                   data-rule-required="true"
                                   data-rule-email="true"
                                   data-msg-required="Enter email address"
                                   data-msg-email="Enter a VALID email address"
                                   placeholder="Email address">
                            <span class="field-icon"><i class="fa fa-envelope"></i></span>
                        </label>
                    </div><!-- end section -->

                    <div class="section">
                        <label for="phone" class="field prepend-icon">
                            <input type="tel" name="phone" id="phone" class="gui-input phone-group" placeholder="Mobile number">
                            <span class="field-icon"><i class="fa fa-mobile-phone"></i></span>
                        </label>
                    </div>

                       
                        <div class="section">
                            <label for="message" class="field prepend-icon">
                                <textarea class="gui-textarea" id="message" name="message"
                                          data-rule-required="true"
                                          data-msg-required="Please enter your Message"
                                          placeholder="Your Message"></textarea>
                                <span class="field-icon"><i class="fa fa-comments"></i></span>
                                <span class="input-hint">
                                    <strong>DO NOT:</strong> Be negative or off topic, we expect a great comment...
                                </span>
                            </label>
                        </div><!-- end section -->


                        <div class="section">
                            <div class="g-recaptcha" data-rule-required="true" data-msg-required="Please Select Captcha" data-sitekey="6LfP4E0UAAAAALRM7gMtMHbKUDA3o5f0FE6PF_GB"></div>

                        </div><!-- end section -->

                    </div><!-- end .form-body section -->
                <div class="form-footer">
                    <button type="submit" class="button btn-primary"> Send Email </button>
                </div><!-- end .form-footer section -->
            </form>

        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->

    <div></div><!-- end section -->
    <script src='https://www.google.com/recaptcha/api.js?hl=ar'></script>

</body>
</html>

